@import '~bootstrap/scss/bootstrap';

.container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.main {
  background-color: lightgrey;
  height: 100vh;
}

.game_box {
  height: 500px;
  width: 500px;
  background-color: lightgray;
}

.game_row {
    margin-top: 100px;
}

.box {
  background-color: blue;
  border: 5px solid;
}

.grid-row {
  height: calc(100%/3)
}

#ttt-icon {
  height: 30px;
  margin-right: 10px;
}
