@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$brdr-clr-blue: rgb(50, 103, 138);
$brdr-clr-gray: lightgrey;
$clr-dark-gr-red: rgb(40, 45, 58);

html, body {
  background-color: $clr-dark-gr-red;
}

// .container-lg {
//   background-color: lightgrey;
//   min-height: 100vh;
//   height: 100%;
//   width: 100%;
//   margin-left: 20px;
//   margin-right: 20px;
// }

.container {
  background-color: $clr-dark-gr-red;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.main {
  background-color: $clr-dark-gr-red;
  padding-top: 50px;
}

.game-box {
  height: 800px;
  width: 800px;
  background-color: $clr-dark-gr-red;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.form-control {
  background: $gray-300;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.game-row {
    align-content: center;
    margin-top: 50px;
}

.box {
  background-color: rgb(84, 120, 161);
  border: 2px solid;
  display: flex;

}

.box-X {
  padding: 30px;
  justify-content: center;
}

.box-O {
  padding: 45px;
  justify-content: center;
}

.box-game-over {
  background-color: rgb(56, 131, 107);
}

.box-game-tie {
  background-color: $gray-600;
}

.grid-row {
  height: calc(100%/3)
}

.spacer-20 {
  width: 20px;
}

.sign-in {
  margin-top: 100px;
}

.sign-up {
  margin-top: 100px;
  margin-bottom: 100px;
}

.sign-out {
  margin-top: 100px;
}

.forms {
  margin-bottom: 100px;
}

.message {
  margin-top: 100px;
}

#message-container {
  margin: auto;
}

#user-message {
  margin-bottom: 30px;
}

// #game-board-title-text {
//   background-color: rgb(84, 120, 161);
// }

.nav-button {
  border: solid 2px $gray-500;
}

.nav-button:hover {
  border-color: $warning;
}

#new-game-button {
  border: solid 2px $gray-500;
}

#new-game-button:hover {
  border-color: $warning;
  background: rgb(255, 231, 151);
}

#game-board-options {
  margin-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

#ttt-icon {
  height: 30px;
  margin-right: 10px;
}

#box-0 {
  border-color: $clr-dark-gr-red;
  border-top: none;
  border-left: none;
  border-radius: 2rem 0 0 0;
}

#box-0:hover {
  filter: brightness(125%);
}

#box-1 {
  border-color: $clr-dark-gr-red;
  border-top: none;
}

#box-1:hover {
  filter: brightness(125%);

}

#box-2 {
  border-color: $clr-dark-gr-red;
  border-top: none;
  border-right: none;
  border-radius: 0 2rem 0 0;
}

#box-2:hover {
  filter: brightness(125%);

}

#box-3 {
  border-color: $clr-dark-gr-red;
  border-left: none;
}

#box-3:hover {
  filter: brightness(125%);

}

#box-4 {
  border-color: $clr-dark-gr-red;
}

#box-4:hover {
  filter: brightness(125%);

}

#box-5 {
  border-color: $clr-dark-gr-red;
  border-right: none;
}

#box-5:hover {
  filter: brightness(125%);

}

#box-6 {
  border-color: $clr-dark-gr-red;
  border-bottom: none;
  border-left: none;
  border-radius: 0 0 0 2rem;
}

#box-6:hover {
  filter: brightness(125%);

}

#box-7 {
  border-color: $clr-dark-gr-red;
  border-bottom: none;
}

#box-7:hover {
  filter: brightness(125%);
}

#box-8 {
  border-color: $clr-dark-gr-red;
  border-bottom: none;
  border-right: none;
  border-radius: 0 0 2rem 0;
}

#box-8:hover {
  filter: brightness(125%);
}

.inner-box {
  width: 100%;
}


.box-letter-X {
  position: relative;
  font-family: 'Varela Round';
  font-size: 175px;
  height: 100%; /* this can be anything */
  width: 100%;  /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.box-letter-X::before,
.box-letter-X::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: $clr-dark-gr-red;
}

.box-letter-X::before {
  transform: rotate(45deg);
}

.box-letter-X::after {
  transform: rotate(-45deg);
}

.box-letter-O {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  border-radius: 100%;
  border: 8px solid $clr-dark-gr-red;
}
@media (max-width: 975px) {
  .game-box {
    height: 700px;
    width: 700px;
  }
  .box-letter-O {
     border: 6px solid $clr-dark-gr-red;
  }
  .box-O {
    padding: 30px;
  }
  .box-X {
    padding: 15px;
  }
  .box-letter-X::before,
  .box-letter-X::after {
    height: 6px;
  }
}

@media (max-width: 775px) {
  .game-box {
    height: 600px;
    width: 600px;
  }
  .box-letter-O {
     border: 5px solid $clr-dark-gr-red;
  }
  .box-O {
    padding: 30px;
  }
  .box-X {
    padding: 15px;
  }
  .box-letter-X::before,
  .box-letter-X::after {
    height: 5px;
  }
}

@media (max-width: 675px) {
  .game-box {
    height: 350px;
    width: 350px;
  }
  .box-letter-O {
    border: 4px solid $clr-dark-gr-red;
  }
  .box-O {
    padding: 25px;
  }
  .box-X {
    padding: 15px;
  }
  .box-letter-X::before,
  .box-letter-X::after {
    height: 4px;
  }
}

@media (max-width: 575) {
  .game-box {
    height: 300px;
    width: 300px;
  }
  .box-letter-O {
    border: 4px solid $clr-dark-gr-red;
  }
  .box-O {
    padding: 25px;
  }
  .box-X {
    padding: 15px;
  }
  .box-letter-X::before,
  .box-letter-X::after {
    height: 4px;
  }
}

@media (max-width: 325) {
  .game-box {
    height: 300px;
    width: 300px;
  }
  .box-letter-O {
    border: 4px solid $clr-dark-gr-red;
  }
  .box-O {
    padding: 25px;
  }
  .box-X {
    padding: 15px;
  }
  .box-letter-X::before,
  .box-letter-X::after {
    height: 4px;
  }
}
